.python-version
.vscode/settings.json
geckodriver.log
.vscode/tasks.json
api_output.json
env/
launch.json
*.mp4
__pycache__/tiktok_api.cpython-310.pyc
__pycache__/video_editor.cpython-310.pyc
.vscode/launch.json
.DS_Store
